.slider-section {
  padding: 60px 20px;
  background: linear-gradient(to right, #f3efff, #e0d1ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  max-width: 100%;
  height: auto;
  max-height: 600px; /* ajuste cette valeur selon la taille que tu veux */
  margin: 0 auto;
  display: none;
  object-fit: contain;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: auto;
  display: none;
  object-fit: cover;
}

.slide.active {
  display: block;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(106, 13, 173, 0.7);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.slider button:hover {
  background: rgba(106, 13, 173, 1);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.retour-wrapper {
  display: flex;
  justify-content: flex-start; /* Aligné à gauche */
  margin: 30px 0 0 50px;
}

.btn-retour {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-retour:hover {
  background-color: #cb76ff;
}
